<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

	<title>Node Auth</title>
</head>
<body>
	<header-tag title = input.title user = input.user/>
  	$ var filePath = require(input.filename);
	<include(filePath, {errorData: input.errorData, reRenderData: input.reRenderData})/>
</body>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>
